*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100vh;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    width: 50%;
    width: 500px;
    height: 550px;
    border: solid 2px red;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    position: relative;
    border: solid 2px green;
    width: 90%;
    height: 90%;
}
form article{
    margin-top: 10px;
}
form article label{
    display: block;
    font-size: 1.2rem;
}
form article input{
    width: 100%;
    height: 40px;
    padding-left: 10px;
}
form article button{
    width: 100%;
    height: 45px;
    font-size: 1.4rem;
}
form .botao{
    margin-top: 25px;
}

form div{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    background: rgb(214, 229, 255);
}